@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
* {
  box-sizing: border-box; }

/*
  Components
*/
html, body, .site-wrapper {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }
