/* column options example */
.column-options {
border-collapse: collapse;
border-bottom: 1px solid #4e73df;
margin: 24px auto;
}
.column-options th, .column-options td {
font-family: Helvetica, Arial, sans-serif;
font-weight: normal;
color: #434343;
background-color: #87c2cc;
border-left:1px solid #9eafc9;
border-right:1px solid #9b9ecf;
}

.column-options th {
font-size: 120%;
font-weight: normal;
letter-spacing: 0.12em;
text-shadow: -1px -1px 1px #999;
color: rgb(94, 143, 175);
background-color: #58a794;
padding: 12px 0px 8px 0px;
border-bottom: 1px solid #8184ad;
}


.column-options td {
text-shadow:1px 1px 0 rgb(144, 140, 165);
padding:12px 20px 12px 20px;
}
.column-options .odd td {
background-color: #8285a0;
}
.column-options .selected td {
background-color:MediumAquamarine;
color:rgb(127, 182, 182);
font-family:10pt "Lucida Sans Unicode",Arial,sans-serif;
}
.column-options th:first-child {
border-top-left-radius: 7px;
-moz-border-radius-topleft: 7px;
}

.column-options th:last-child {
border-top-right-radius: 7px;
-moz-border-radius-topright: 7px;
}
.column-options th:last-child, .column-options td:last-child {
border-right: 0px;
}


.column-options a.button {
font-size: 50%;
text-shadow: none;
text-decoration: none;
text-align:center;
text-shadow: -1px -1px 1px #72aebd;
text-transform:uppercase;
letter-spacing: 0.10em;
color:rgb(32, 95, 179);
padding: 7px 10px 4px 10px;
border-radius: 5px;
background-color:#00CC99;
border-top: 1px solid #90f2da;
border-right:1px solid #00a97f;
border-bottom:1px solid #008765;
border-left: 1px solid #7dd2bd;
box-shadow: 2px 1px 2px #ccc;
margin:10px 5px 10px 5px;
display:block;
}

.column-options a.button:hover {
position:relative;
top:1px;
left:1px;
background-color:#00CCFF;
border-top: 1px solid #9aebff;
border-right:1px solid #08acd5;
border-bottom:1px solid #07a1c8;
border-left: 1px solid #92def1;
box-shadow: -1px -1px 2px #ccc;
}