<!DOCTYPE html>
<html lang='en'>
<!-- Pagina que se mostrará a los usuarios no autorizados -->

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Usuario no autorizado</title>
  <!-- Dependencias de estilo -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="vendor/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" >
  <!-- TODO: Estilo para la pagina. -->
  <!-- <link rel="stylesheet" href=""> -->
</head>
<body>
  <div id="mydiv">
    <!-- <img src='assets/img/403.gif' alt='Usuario no autorizado'><br><br> -->
    <button type='button' onclick="location.href='../index.html'">Regresar</button>
  </div>
</body>

</html>