.color-table {
margin:24px auto;
}
.normal {
color:DarkSlateGray;
font-family:10pt "Lucida Sans Unicode",Arial,sans-serif;
text-align:left;
}
.selected {
background-color:MediumAquamarine;
color:LightCyan;
font-family:10pt "Lucida Sans Unicode",Arial,sans-serif;
}

tr#theader {
background:rgb(173, 185, 204);
}
thead th {
background-color:rgb(157, 159, 194);
-webkit-border-top-left-radius:8px;
-moz-border-top-left-radius:8px;
-o-border-top-left-radius:8px;
-ms-border-top-left-radius:8px;
border-top-left-radius:8px;
-webkit-border-top-right-radius:8px;
-moz-border-top-right-radius:8px;

-o-border-top-right-radius:8px;
-ms-border-top-right-radius:8px;
border-top-right-radius:8px;
color:Chocolate;
font-family:"Lucida Sans Unicode";
font-size:1em;
font-weight:800;
padding: 4px 6px;
text-align:center;
}
td {
padding: 6px 8px;
}

tfoot th {
-webkit-border-bottom-left-radius:8px;
-moz-border-bottom-left-radius:8px;
-o-border-bottom-left-radius:8px;
-ms-border-bottom-left-radius:8px;
border-bottom-left-radius:8px;
-webkit-border-bottom-right-radius:8px;
-moz-border-bottom-right-radius:8px;
-o-border-bottom-right-radius:8px;
-ms-border-bottom-right-radius:8px;
border-bottom-right-radius:8px;
background-color:Wheat;
color:Chocolate;
padding: 6px 8px;
text-align:center;
}
tr#tfooter {
background:white;
}

.isbn {
background-color:Plum;
color:Lavender;
font-family:Verdana;
font-weight:400;
font-size:10pt;
text-align:center;
}
.info {
background-color:LightGreen;
color:ForestGreen;
font-family:Verdana;
font-weight:400;
font-size:10pt;
text-align:left;
}

.price {
background-color:LightSteelBlue;
color:Navy;
font-family:Verdana;
font-weight:400;
font-size:10pt;
text-align:right;
}


.action {
background-color:Lavender;
color:Indigo;
font-family:"Bodoni MT";
font-size:9pt;
font-variant:small-caps;
font-weight:600;
text-align:center;
}
a:link {
color:Indigo;
}
a:visited {
color:RosyBrown;
}
a:hover {
color:OrangeRed;
}

a:active {
color:Gold;
}